{
  "root": true,
  "env": {
    "browser": false,
    "node": true
  },
  "extends": "./node_modules/eslint-config-airbnb/.eslintrc",
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ]
  }
}
